DATABASE_URL=postgresql+psycopg://legalize_user:Tw2a3fJ7y8Dfp1NGy1i1eS3lxvScoC2j@dpg-d6ddtp24d50c73anpe1g-a.oregon-postgres.render.com/legalize
JWT_SECRET_KEY=jwt-secret
JWT_ACCESS_TOKEN_EXPIRES_MIN=6000
JWT_REFRESH_TOKEN_EXPIRES_DAYS=14
FLASK_ENV=development
SECRET_KEY=supersecretkey
CLAUDE_API_KEY=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
